/* Common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}


.text-primary {
    color: #FD6E0A;
    font-weight: 800;

}

.btn-primary {
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    padding: 18px 35px;
    background: #FD6E0A;


}



/* nav related styles */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
}